@use 'fonts' as *;
@use '@00-team/utils' as *;

.header-container {
    height: 30px;
    flex-shrink: 0;
    background-color: var(--header-bg);

    .title {
        @include TitleFont(18px);
        user-select: none;
        width: calc(100% - 73px);
        padding: 0.2rem;
        -webkit-app-region: drag;
    }

    .open {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1000;
        @include box(20px);

        svg {
            position: absolute;
            height: 56px;
            right: 0;
            padding: 4px;
            top: -56px;
            transition: 0ms top;

            path {
                transform: translateY(-10px);
                transition: transform 400ms ease, fill 200ms ease-in-out;
                cursor: pointer;
                fill: var(--header-actions-bg);

                &.close:hover {
                    fill: var(--base-red);
                }

                &.minimize:hover {
                    fill: var(--header-minimize-hover);
                }

                &.minimize-icon,
                &.close-icon {
                    pointer-events: none;
                    fill: var(--accent-color);
                }
            }
        }

        &.active svg {
            top: 0;
            path {
                transform: translateY(0);
            }
        }
    }
}
