* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    background-image: url('./images/car_rain.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.boob {
    position: absolute;
    top: 43vh;
    left: 29.5vw;
    width: 8.5vw;
    /* top: 418px;
    left: 567px;
    width: 166px; */
}

.boob path {
    cursor: pointer;
}
